
  <footer class="container-fluid footer">
    <div class="row text-center">
      <div class="col-md-4 ">
        <ul class="list-unstyled text-small">
          <a href="{% url 'index' %}">
              <img class="forum-footer-image" src="/static/images/w4FORUMS.png" alt="WitQuake" style="width: 195px;height: auto;">
          </a>
          <small class="d-block mb-3 text-muted">services@witquake.co.in </small>
        </ul>
      </div>
      <div class="col-md-4 mt-4">
        <h5 class="footer-headings">Follow Us</h5>
        <ul class="list-unstyled text-small">
          <li><a target="_blank"  class="text-muted" href="https://www.instagram.com/witquake/">Instagram</a></li>
          <li><a  target="_blank" class="text-muted" href="#">Linkedin</a></li>
          <li><a target="_blank"  class="text-muted" href="https://www.youtube.com/channel/UC2A-NDVO9XKTeqfXSt2jQvw">Youtube</a></li>
        </ul>
      </div>
      <div class="col-md-4 mt-4">
        <h5 class="footer-headings">Navigate to</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="{% url 'index' %}">Home</a></li>
          <li><a class="text-muted" href="{% url 'education' %}">Education</a></li>
          <li><a class="text-muted" href="{% url 'contact' %}">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </footer>
